In [2]:
import pandas as pd

In [3]:
import lightgbm as lgb

In [1]:
!pip install lightgbm

Requirement already satisfied: lightgbm in c:\users\admin\anaconda3\lib\site-packages (4.1.0)
Requirement already satisfied: numpy in c:\users\admin\anaconda3\lib\site-packages (from lightgbm) (1.24.3)
Requirement already satisfied: scipy in c:\users\admin\anaconda3\lib\site-packages (from lightgbm) (1.10.1)

In [4]:
dataset=pd.read_csv("insurance_pre.csv")

In [5]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [6]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[['charges']]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [52]:
from lightgbm import LGBMRegressor
regr=LGBMRegressor(metric='rmse',objective='regression',learning_rate=0.02)
regr=regr.fit(X_train,Y_train)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000039 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 313
[LightGBM] [Info] Number of data points in the train set: 936, number of used features: 5
[LightGBM] [Info] Start training from score 13232.916456

In [53]:
y_pred=regr.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)

In [54]:
r_score

0.8729244430715464

In [55]:
import pickle
filename="finalized_model_lgboost.sav"

In [56]:
pickle.dump(regr,open(filename,'wb'))

In [57]:
loaded_model=pickle.load(open("finalized_model_lgboost.sav",'rb'))
result=loaded_model.predict([[43,30.970,1,1,0]])

In [58]:
result

array([9128.66359745])